+.vim eol=lf
/copilot-language-server/** -whitespace -diff
+https://www.shopify.com/editions/summer2025?utm_campaign=summer25edition-launch&utm_source=admin&utm_medium=admin&utm_content=badge
+BB++https://shopify100.shopify.com
